@tailwind base;
@tailwind components;
@tailwind utilities;


/* Position the navigation buttons at the bottom */
.navigation {
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the buttons horizontally */
  transform: translateX(-50%); /* Adjust to center the buttons */
  display: flex;
  justify-content: space-between;
  width: 200px; /* Adjust width as needed */
}

/* Style for navigation buttons */
.navigation button {
  padding: 8px 16px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for disabled navigation buttons */
.navigation button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}